<div class="card my-3">

  <div class="card-header">
    <h4 class="card-title my-0">
      {{portfolioStock['tickerSymbol']}}
      <span class="card-subtitle mb-2 text-muted" style="font-size: 16px;">
        {{portfolioStock['name']}}
      </span>
    </h4>
  </div>

  <div class="card-body" style="font-weight: 700;">
    <div class="row">

      <div class="col-md-6">
        <div class="row">
          <div class="col">
            Quantity:
          </div>
          <div class="col">
            {{portfolioStock['quantity']}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Avg. Cost / Share:
          </div>
          <div class="col">
            {{(portfolioStock['totalCost']/portfolioStock['quantity']).toFixed(2)}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Total Cost:
          </div>
          <div class="col">
            {{portfolioStock['totalCost'].toFixed(2)}}
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="row">
          <div class="col" >
            Change:
          </div>
          <div class="col" [style.color]="((portfolioStock['quantity']*portfolioStock['c'])-portfolioStock['totalCost'])<0 ? 'red': 'green' ">
            <i class="bi bi-caret-down-fill" *ngIf="((portfolioStock['quantity']*portfolioStock['c'])-portfolioStock['totalCost'])<0; else elseBlock"></i>
            <ng-template #elseBlock>
              <i class="bi bi-caret-up-fill"></i>
            </ng-template>
            {{((((portfolioStock['quantity']*portfolioStock['c'])-portfolioStock['totalCost'])/portfolioStock['totalCost'])*100).toFixed(2)}}
          </div>          
        </div>
        <div class="row">
          <div class="col">
            Current Price:
          </div>
          <div class="col" [style.color]="((portfolioStock['quantity']*portfolioStock['c'])-portfolioStock['totalCost'])<0 ? 'red': 'green' ">
            {{portfolioStock['c'].toFixed(2)}}
          </div>          
        </div>
        <div class="row">
          <div class="col">
            Market Value:
          </div>
          <div class="col" [style.color]="((portfolioStock['quantity']*portfolioStock['c'])-portfolioStock['totalCost'])<0 ? 'red': 'green' ">
            {{(portfolioStock['quantity']*portfolioStock['c']).toFixed(2)}}
          </div>          
        </div>
      </div>

    </div>
  </div>

  <div class="card-footer">
    <button type="button" class="btn btn-primary me-2" (click)="openTransactionModal('Buy')">Buy</button>
    <button type="button" class="btn btn-danger" (click)="openTransactionModal('Sell')">Sell</button>
  </div>

</div>